<dx-data-grid id="gridContainer" [dataSource]="cashflows" [showBorders]="true" (onFileSaving)="onFileSave($event)" (onContextMenuPreparing)="onContextMenu($event)"
    (onCellPrepared)="highlightCell($event)" [allowColumnResizing]="true" [columnResizingMode]="columnResizingMode" [columnAutoWidth]="true"
    [allowColumnReordering]="true" [cellHintEnabled]="true" height ="675">

    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-export [enabled]="true" fileName="{dateFormat}"></dxo-export>
    <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
    <!-- <dxo-filter-row [visible]="true"></dxo-filter-row> -->
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <!-- <dxo-state-storing [enabled]="true" type="localStorage" storageKey="storage"></dxo-state-storing> -->
    <!-- <dxo-selection mode="multiple"></dxo-selection>
    
            [masterDetail]="{ enabled: true, template: 'detail' }"
        <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"></dxo-filter-row>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        
        <dxo-filter-panel [visible]="true"></dxo-filter-panel> -->
    <dxi-column dataField="Issuer Group"></dxi-column>
    <dxi-column dataField="Issuer Group Code"></dxi-column>
    <dxi-column dataField="Security Code"></dxi-column>
    <dxi-column dataField="Instrument"></dxi-column>
    <dxi-column dataField="Spread"></dxi-column>
    <dxi-column dataField="Maturity Date" dataType="date"></dxi-column>
    <dxi-column dataField="Industry"></dxi-column>
    <dxi-column dataField="Secured/Unsecured" caption="Secured/Unsecured"></dxi-column>
    <dxi-column dataField="Deal Type"></dxi-column>
    <dxi-column dataField="Sponsor/Nonsponsor"></dxi-column>
    <dxi-column dataField="Cash Flow Date" dataType="date"></dxi-column>
    <dxi-column dataField="Cash Flow Amount" caption="Cash Flow Amount" dataType="number" format="#,##0.##;(#,##0.##);0"></dxi-column>
    <dxi-column dataField="Event"></dxi-column>
    <dxi-column dataField="Symbol"></dxi-column>
    <dxi-column dataField="IRR" dataType="number">
        <dxo-format type="percent" [precision]="2">
        </dxo-format>
    </dxi-column>
</dx-data-grid>